{% extends 'base.html.twig' %}

{% block title %}Supprimer des photos{% endblock %}

{% block body %}
    <div class="container mt-5">
        <h1>Supprimez des photos</h1>

        {% for label, messages in app.flashes %}
            <div class="container">
                <div class="alert alert-{{label}}">
                    {% for message in messages %}
                        <p>{{ message | raw }}</p>
                    {% endfor %}
                </div>
            </div>
        {% endfor %}

        <div class="row mt-3">
            {% for image in user.images %}
            <div class="col-3 col-sm-12 col-lg-4 card py-3 mb-3"> 
                <div class="text-center">
                
                    <img src=" {{ asset(vich_uploader_asset(image, 'imageFile')) }} " class="d-block img-fluid mt-3" alt="#">
                    
                    <a href=" {{ path('picture_delete', {'id': image.id}) }} " class="btn btn-danger text-center mt-2" onclick="return confirm(`Etes vous sur de vouloir supprimer cette photo `)">Supprimer la photo</a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
