{% extends 'base.html.twig' %}

{% block body %}
<div class="wallpaper_main">

    <div class="jumbotron mt-5">
        <h1 class="display-3">Bienvenue sur MagicPix !</h1>
        <p class="lead">Nous vous partageons les plus belles réalisations d'artistes photographes</p>
        <hr class="my-4">
        <p>Vous êtes curieux et vous souhaitez découvrir les galeries d'artistes ?</p>
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="#" role="button">Voir les galleries</a>
        </p>
    </div>
</div>
{% endblock %}