* 
{
    font-family: 'Arial', sans-serif;
    margin:0;
    padding:0;
}

body, html{height:100%;}

body
{
    position: relative;
    min-height: 100%;
}

.wallpaper
{
    background-image: url(/public/images/galery/colors_huawei_honor_7x_stock.jpg);
    margin:0;
    padding:0;
    background-position:center;
    background-repeat:no-repeat;
    background-size:cover;
    height: 100%;
    width: 100%;
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    /* z-index: -1; */
}
.navbar
 {
     padding: 0;
     padding-left: 2%;
     background-color: black;
 }
.jumbotron {
    border-radius: 20px;
    margin-bottom: 0;
    padding-bottom: 1%;
    z-index: 1000;
}

.background {
    background-color:  #efefef;
    margin: 0;
    padding-bottom: 1%;
}

.button_galery
{
    border-radius: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.7em;
}

.user-title
{
    width: 100%;
    max-height: 300px;

    padding: 3em;
    margin: 0;
    /* border-radius: 0px 0px 300px 300px; */
    background-size: cover;
    background-position: center center;
}

div.user-title h1, div.user-title p {
    color: white;
    text-shadow: 5px 5px 5px rgba(0,0,0,0.5);
}

div.user-title h1 {
    font-size: 5em;
}

div.carousel-caption h3, div.carousel-caption h4 {
    color: white;
    text-shadow: 3px 3px 3px rgba(0,0,0,0.5);
}

.avatar-mini {
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.avatar-micro {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.vich-image a img {
    display: none;
}

span.rating i {
    color: goldenrod;
}

.image_edit {
    max-width: 50%;
    max-height: 50%;
}

.title_show
{
    font-family: Arial, Helvetica, sans-serif;
}

.navbar_show {
    font-family: Arial, Helvetica, sans-serif;
}

.carousel {
    background-color: #1a1a1a ;
    padding: 20px 0px 20px 0px;
    margin: 0;
}

.carousel_class
{
    padding-left: 0;
    padding-right: 0;
}

.carousel-inner img {
    max-height: 551px;
    max-width: 980px;
    margin: 0 auto !important;
}

.carousel-control-next-icon{
    color: black !important;
    height: 20px;
    width: 20px;
}

.carousel-control-prev-icon{
    color: black !important;
    height: 20px;
    width: 20px;
}

footer
{
    background-color: black;
    /* clear: both;
    position: relative;
    bottom:0;
    width:100%; */
    /* padding-top:50px;
    height:50px; */
}

/* RESPONSIVE  */
@media screen and (max-device-width: 576px)
{
    .navbar-brand
    {
        font-size: 4em;
    }

    .navbar-toggler-icon
    {
        font-size: 4em;
    }

    .nav-link
    {
        font-size: 3em;
    }

    .dropdown-item
    {
        font-size: 2.3em;
    }

    .jumbotron h1 
    {
        font-size: 5em;
    }

    .jumbotron p
    {
        font-size: 2.5em;
    }

    .lead
    {
        font-size: 3em;
    }

    .lead a
    {
        /* font-size: 1em; */
        padding: 35px;
        border-radius: 10px;
    }

    .alert-light h2
    {
        font-size: 2.5em;
    }

    .form-group label
    {
        font-size: 2.5em;
    }

    .form-group input
    {
        font-size: 2.1em;
    }

    .form-group textarea
    {
        font-size: 2.1em;
    }

    .alert-light button
    {
        font-size: 2em;
        margin-top: 5%;
        margin-bottom: 10%;
        padding: 30px;
        border-radius: 10px;
    }

    .title_show
    {
        font-size: 4em;
        width: 100%;
        text-align: center;
    }

    .card
    {
        /* height: 550px;
        width: 500px; */
        margin: 0 auto;
        margin-bottom: 15% !important;
    }

    .card-header
    {
        font-size: 3em;
    }

    .card-text
    {
        font-size: 2em;
        font-weight: bold;
    }

    .card-body button
    {
        font-size: 1.5em;
    }

    .card-body small
    {
        font-size: 1.5em;
    }

    .fa-star
    {
        font-size: 2em;
    }

    /* .button_galery
    {
        font-size: 1em !important;
    } */

    .carousel-control-next-icon
    {
        height: 40px;
        width: 40px;
        margin-left: 50px;
    }

    .carousel-control-prev-icon
    {
        height: 40px;
        width: 40px;
        margin-right: 50px;
    }

    .carousel-caption h3
    {
        font-size: 2.8em;
    }

    .carousel-caption h4
    {
        font-size: 2.3em;
    }

    .title_connected
    {
        font-size: 2.5em;
        font-weight: bold;
    }

    .title_comment
    {
        font-size: 3.1em;
    }

    .title_notation
    {
        font-size: 1.5em;
    }

    .alert-dismissible small
    {
        font-size: 1.5em !important;
    }

    .rounded blockquote
    {
        font-size: 2.3em;
        font-weight: 400;
    }

    .rounded strong
    {
        font-size: 2.2em;
        font-weight: bold;
    }

    .title_newuser
    {
        font-size: 2.8em;
        margin-bottom: 10%;
    }

    #registration input
    {
        font-size: 2.2em !important;
    }

    #registration textarea
    {
        font-size: 2.3em;
    }

    .btn-registration
    {
        font-size: 2em;
        margin-bottom: 10%;
        padding: 30px;
        border-radius: 10px;
    }

    .title_login
    {
        font-size: 2.8em;
        margin-bottom: 10%;
    }

    .login_form label
    {
        font-size: 2em;
    }

    .login_form input
    {
        font-size: 2em;
    }

    .btn_login
    {
        font-size: 2em;
        margin-top: 10%;
        margin-bottom: 10%;
        padding: 30px;
        border-radius: 10px;
    }

    .bloc_login
    {
        margin-bottom: 100px;
    }

    footer p
    {
        font-size: 2em !important;
    }
    
}