* 
{
    font-family: 'Arial', sans-serif;
    margin:0;
    padding:0;
}

body, html{height:100%;}

body
{
    position: relative;
    min-height: 100%;
}

.wallpaper
{
    background-image: url(/public/images/galery/colorful_bokeh_4k_8k-3840x2160.jpg);
    margin:0;
    padding:0;
    background-position:center;
    background-repeat:no-repeat;
    background-size:cover;
    height: 100%;
    z-index: -1;
}
.navbar
 {
     padding: 0;
     padding-left: 2%;
     background-color: black;
 }
.jumbotron {
    border-radius: 20px;
    margin-bottom: 0;
    padding-bottom: 1%;
}

.background {
    background-color:  #efefef;
    margin: 0;
    padding-bottom: 1%;
}

.button_galery
{
    border-radius: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.7em;
}

.user-title
{
    width: 100%;
    max-height: 300px;

    padding: 3em;
    margin: 0;
    /* border-radius: 0px 0px 300px 300px; */
    background-size: cover;
    background-position: center center;
}

div.user-title h1, div.user-title p {
    color: white;
    text-shadow: 5px 5px 5px rgba(0,0,0,0.5);
}

div.user-title h1 {
    font-size: 5em;
}

div.carousel-caption h3, div.carousel-caption h4 {
    color: white;
    text-shadow: 3px 3px 3px rgba(0,0,0,0.5);
}

.avatar-mini {
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.avatar-micro {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.vich-image a img {
    display: none;
}

span.rating i {
    color: goldenrod;
}

.image_edit {
    max-width: 50%;
    max-height: 50%;
}

.title_show
{
    font-family: Arial, Helvetica, sans-serif;
}

.navbar_show {
    font-family: Arial, Helvetica, sans-serif;
}

.carousel {
    background-color: #1a1a1a ;
    padding: 20px 0px 20px 0px;
    margin: 0;
}

.carousel_class
{
    padding-left: 0;
    padding-right: 0;
}

.carousel-inner img {
    max-height: 551px;
    max-width: 980px;
    margin: 0 auto !important;
}

.carousel-control-next-icon{
    color: black !important;
    height: 20px;
    width: 20px;
}

.carousel-control-prev-icon{
    color: black !important;
    height: 20px;
    width: 20px;
}

footer
{
    background-color: black;
    /* position: absolute;
    bottom:0; */
    width:100%;
    /* padding-top:50px;
    height:50px; */
}