{% extends 'base.html.twig' %}

{% block title %}Page non trouvée{% endblock %}

{% block body %}
    <div class="container mt-5">
        
        <h1>Oups ! Une erreur technique est survenue !</h1>
        <p>Aucun soucis, vous pouvez retourner à l'accueil ou voir les différentes galeries !</p>


        <a href="{{ path('home') }}" class="btn btn-primary">Retour à l'accueil</a>
        <a class="btn btn-success" href="{{ path('users_index') }}">Les galeries</a>
    </div>
{% endblock %}