{% extends 'base.html.twig' %}

{% block title %}MagicPix{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="title_newuser mt-5">Profitez du site en vous inscrivant</h1>

        {{ form_start(form) }}
        {{ form_widget(form) }}
        <button type="submit" class="btn btn-success btn-registration mt-5">Confirmez l'inscription</button>
        {{ form_end(form) }}
    </div>
{% endblock %}